.wy-table-responsive table td {
    white-space: normal !important;
}

/* Switch order of project name and logo in sidebar */
body > div > nav > div > div.wy-side-nav-search > a {
    display: flex !important;
    justify-content: center !important;
    flex-direction: column-reverse !important;
}

/* Smaller logo, adjust margins after reordering with project name */
body > div.wy-grid-for-nav > nav > div > div.wy-side-nav-search > a > img {
    width: 85% !important;
    margin-bottom: 0.85em !important;
    margin-top: 0 !important;
}

/* Remove home icon in sidebar */
body > div.wy-grid-for-nav > nav > div > div.wy-side-nav-search > a::before {
    content: "" !important;
}

/* Change style of search form in sidebar */
.wy-side-nav-search input[type="text"] {
    width: 90% !important;
    border: 0 !important;
    border-radius: 3px !important;
}

/* Use text font for headings */
h1, h2, .rst-content .toctree-wrapper p.caption, h3, h4, h5, h6, legend {
    font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif !important;
}

/* Use "Brand light blue" for ToC heading */
body > div.wy-grid-for-nav > nav > div > div.wy-menu.wy-menu-vertical > p > span {
    color: #00b9eb !important;
}

/* Use "Brand dark blue" for top of sidebar */
.wy-side-nav-search {
    background-color: #1a282d !important;
}

/* Use lighter colour derived from "Brand dark blue" for sidebar background */
.wy-nav-side {
    background-color: #233942 !important;
}

/* Customize for CETONI Documentation*/
.rst-content .guilabel {
    background:#e7f2fa;
    border:1px solid #6ab0de;
    padding: 4px 8px 4px 8px;
   }

/*rtd theme does not render menuselection, so let's apply guilabel settings to it*/
.rst-content .menuselection {
    background:#e7f2fa;
    font-size: 80%;
    border:1px solid #6ab0de;
    font-weight:700;
    border-radius:4px;
    margin:auto 2px;
    padding: 4px 8px 4px 8px;
   }

html[data-theme='dark'] .rst-content .guilabel {
    background:#2d2d2d;
    border:1px solid #505050;
}

html[data-theme='dark'] .rst-content .menuselection {
    background:#2d2d2d;
    border:1px solid #505050;
}

   /* creates a border and background with shadow that looks like a key */
.rst-content .kbd {
    font-family: "Source Code Pro",monospace;
    padding: .2rem .4rem;
    border-radius: .2rem;
    font-size: 87.5%;
    /*color: #212121;*/
    background-color: #f2f2f2;
    border: 1px solid #cbcbcb;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2),inset 0 0 0 2px #fff;
}

html[data-theme='dark'] .rst-content .kbd {
    font-family: "Source Code Pro",monospace;
    padding: .2rem .4rem;
    border-radius: .2rem;
    font-size: 87.5%;
    /*color: #212121;*/
    background-color: #383838;
    border: 1px solid #000000;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,1),inset 0 0 0 2px rgba(255,255,255,0.1);
}

.guinum {
    color: #dd0000;
    font-size: 120%;
    font-weight:700;
}