name: deploy

# Controls when the workflow will run
on:
  # Triggers the workflow on push events but only for the main branch
  push:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: recursive
      -
        name: Install
        run: pip install -r requirements.txt
      -
        name: Build DE
        run: |
          cd CETONI_Elements_Manual_DE
          make html
          cd ..
      -
        name: Build DE full
        run: |
            cd CETONI_Elements_Manual_DE
            export FULL_DOC=1
            export PRIVATE_BUILD_DIR=_build_full
            make html
            mv _build_full/html/index_full.html _build_full/html/index.html
            cd ..
      -
        name: Build DE private
        run: |
            cd CETONI_Elements_Manual_DE
            export PRIVATE_DOC=1
            export PRIVATE_BUILD_DIR=_build_private
            make html
            mv _build_private/html/index_private.html _build_private/html/index.html
            cd ..

      -
        name: Build EN
        run: |
          cd CETONI_Elements_Manual_EN
          make html
          cd ..
      -
        name: Build EN full
        run: |
          cd CETONI_Elements_Manual_EN
          export FULL_DOC=1
          export PRIVATE_BUILD_DIR=_build_full
          make html
          mv _build_full/html/index_full.html _build_full/html/index.html
          cd ..
      -
        name: Build EN private
        run: |
          cd CETONI_Elements_Manual_EN
          export PRIVATE_DOC=1
          export PRIVATE_BUILD_DIR=_build_private
          make html
          mv _build_private/html/index_private.html _build_private/html/index.html
          cd ..
      -
        name: Prepare Deployment
        run: |
          mkdir -p _deploy/manual_de
          cp -R CETONI_Elements_Manual_DE/_build/html/*  _deploy/manual_de
          mkdir -p _deploy/manual_en
          cp -R CETONI_Elements_Manual_EN/_build/html/*  _deploy/manual_en
          mkdir -p _deploy/manual_de_full
          cp -R CETONI_Elements_Manual_DE/_build_full/html/*  _deploy/manual_de_full
          mkdir -p _deploy/manual_en_full
          cp -R CETONI_Elements_Manual_EN/_build_full/html/*  _deploy/manual_en_full
          mkdir -p _deploy/manual_de_private
          cp -R CETONI_Elements_Manual_DE/_build_private/html/*  _deploy/manual_de_private
          mkdir -p _deploy/manual_en_private
          cp -R CETONI_Elements_Manual_EN/_build_private/html/*  _deploy/manual_en_private
      -
        name: Nojekyll
        run: touch _deploy/.nojekyll
      -
        name: Deploy to GitHub Pages
        if: success()
        uses: crazy-max/ghaction-github-pages@v2
        with:
          target_branch: gh-pages
          build_dir: _deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
